body {
  background-color: #F3F7FA;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  padding: 50px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

